
@font-face {
    font-family: 'Source Sans Pro';
    src: url("../fonts/SourceSansPro-Regular.otf");
}

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
      margin: 0;
    padding: 0;
}


.c1-frame {
    display: grid;
    grid-template-columns: 0.635416fr 0.25625fr;
    grid-template-rows: 0.34513fr 0.65487fr;
    justify-content: space-between;
    margin-top: 102px;
    padding-bottom: 21.75px;
}

.c1-rectangle {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    height: 16.1vw;
    margin-right: 45.825px;
    background-color: #D2F3DE;
    border-radius: 8px;
}

.container1 {
    margin-top: 0;
    position: relative;
}

.c1-text {
    box-sizing: border-box;
    margin-left: 45.825px;
}

.c1-frame h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 40px;
    box-sizing: border-box;
    margin-top: 18.75px;
    margin-bottom: 18.75px;
    font-weight: 600;
}

.c1-frame p {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 16.15px;
    color: #4D5B50;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 1100px) {
    .c1-frame {
        grid-template-columns: 0.635416fr 0.32fr;
    }

    .c1-rectangle {
        height: 170px;
        align-self: center;
    }

    .c1-frame h1 {
        font-size: 36.75px;
        margin-top: 12.5px;
        margin-bottom: 12.5px;
    }

    .c1-frame p {
        font-size: 13.725px;
    }
}

@media (max-width: 800px) {
    .c1-frame {
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 15.33px;
    }

    .c1-text {
        margin: auto 17px;
    }

    .c1-rectangle {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        height: 200px;
        width: 360px;
        margin: unset;
        justify-self: center;
    }

    .c1-frame h1 {
        font-size: 40px;
        text-align: center;
    }

    .c1-frame p {
        font-size: 16px;
        grid-row: 3 / 4;
        padding: 10px 0px;
        text-align: center;
    }
}
